
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button data-toggle="modal" data-target="#modal-categoria" class="btn btn-primary">New Person</button>

<table id="pessoa-tabela" class="table table-hover table-bordered table-striped text-dark ">
    <thead>
        <tr>
            <td>Código</td>
            <td>Nome</td>
            <td>CPF</td>
            <td>Ação</td>
        </tr>
    </thead>
</table>

@RenderPage("CadastroModal.cshtml")
@section js{
    <script src="~/Scripts/Pessoa/pessoa.js"></script>
}