
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover table-bordered table-striped table-dark text-light">
    <thead>
        <tr>
            <td>Código</td>
            <td>Nome</td>
            <td>CPF</td>
            <td>Ação</td>
        </tr>
    </thead>
</table>

@section js{
    <script src="~/Scripts/Categoria/categoria.js"></script>
}